{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        {% tailwind_css %}
    </head>
    <body class="bg-gray-50 font-serif leading-normal tracking-normal max-h-screen max-w-screen overflow-x-hidden">
        {% include 'navbar.html' %}
        <div class="content flex flex-1 h-fit">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>